<h3>Write a Note</h3>

<%= form_for [ @article, @comment ] do |f| %>
  <p>
    <!-- <%= f.label :body, "Notes" %><br/> -->
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>
