/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* used everywhere */
* {
  /*font-family: 'Overlock', cursive;*/
  /*font-family: 'Lato', sans-serif !important;*/
  font-family: 'Old Standard TT', serif !important;
}

body {
  background: #FFFAF0 !important;
}

p {
  font-size: 18px;
}

.logo-color {
  color: #FFFAF0 !important;
}

.log-out input[type=submit] {
  border-radius: 5px;
  background-color: black;
}

/* sign in page */
h3.center {
  text-align: center;
}

form.center {
  margin: 0 auto;
}

div.center {
  text-align: center;
  margin-bottom: 50px;
}

div.center > h1 {
  text-decoration: underline;
  text-decoration-color: #414A4C;
}

.grad {
  background: -webkit-linear-gradient(left top, red , blue);
    background: -o-linear-gradient(bottom right, red, blue);
    background: -moz-linear-gradient(bottom right, red, blue);
    background: linear-gradient(to bottom right, #4d66b3 , #5a6da6);
}

/* button id for 'add' */
#my-button {
  position: absolute;
  background-color: pink;
  text-align: center;
  width: 152px;
  left: 50%;
  margin-left: -76px;
  margin-top: 3em;
}

/* class for static modal */
.my-modal {
  position: absolute;
  color: blue;
  background-color: black;
  border-style: solid;
  border-width: 5px;
  display: none;
}

/* class to make modal appear */
.appear {
  position: absolute;
  color: white;
  background-color: black;
  width: 450px;
  left: 50%;
  margin-left: -225px;
  animation: fadein 1.5s;
}

#X {
  color: black;
  border-radius: 1px;
  position: absolute;
  top: 0;
  right: 0;
  background: #FEFEFA;
}

/* fade animation */
@keyframes fadein {
  from {opacity: 0; }
  to {opacity: 1; }
}

/* sign up form class */
.signup-form {
  width: 450px;
  font-size: 16px;
  padding: 30px 30px 15px 30px;
  border: 5px solid #53687E;
}

.signup-form input[type=submit],
.signup-form input[type=email],
.signup-form input[type=password],
.signup-form input[type=button],
.signup-form label {
  font-size: 16px;
  color: #fff;
}

.signup-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: pink;
}

.signup-form label > span {
  display: inline-block;
  float: left;
  width: 150px;
}

.signup-form input[type=email],
.signup-form input[type=password] {
  background: transparent;
  border: none;
  border-bottom: 1px dashed #83A4C5;
  width: 275px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-style: italic;
}

.signup-form input[type=email]:focus,
.signup-form input[type=password]:focus {
  border-bottom: 1px dashed pink;
}

.signup-form input[type=submit],
.signup-form input[type=button] {
  background: #6495ED;
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: #F0F8FF;
}

.signup-form input[type=submit]:hover,
.signup-form input[type=button]:hover {
  background: #394D61;
}

/* index page */
.entry-link a {
  color: #674C47;
}

th.table-header {
  font-size: 18px;
  color: #0F0F0F;
  text-align: center;
}

td.cash-align {
  text-align: right;
}

table#table-width {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}

span#link-right {
  margin-left: 5%;
}
/*div.entry-list {
  width: 600px;
  background: white;
  margin: 0 auto;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.20)
}*/

h1.center {
  text-align: center;
  color: #50404D;
}

/* for new article form */
form#new_article {
  display: inline-block;
  /*text-align: center;*/
  position: relative;
}

div#article-form {
  /*text-align: center;*/
  background-color: #FAF0BE;
  width: 70%;
  margin: 0 auto;
}

#article-form h1.center {
  position: relative;
  padding-top: 10px;
  background-color: #826644;
}



/* flash notices */
span.flash {
  background: #2F4F4F;
  border: 3px solid black;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1em;
  color: #F8F8FF;
  margin-bottom: 10px;
}
